@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, h1, p {
  margin: 0 auto;
  padding: 0;
}

.game-background {
  background: url(../img/Background.png) 0 0/auto 100% no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  min-width: 320px;
}

.menu {
  font-family: 'Roboto';
  font-weight: 700;
  color: #fff;
  /* height: 100%;
  width: 100%; */
  padding: 129px 0 0 104px;
}

.menu::before {
  content: ' ';
  position: absolute;
  width: 218px;
  height: 341px;
  left: 1069px;
  top: 548px;
  background-image: url(../img/card-back.png);
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(-2px 0px 1px rgba(0, 0, 0, 0.3));
  transform: rotate(39.26deg);
  z-index: 999;
}

.menu::after {
  content: ' ';
  position: absolute;
  left: 889.33px;
  top: 532px;
  width: 218px;
  height: 341px;
  background-image: url(../img/card-back.png);
  background-size: cover;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  transform: rotate(11.9deg);
}

.header_title {
  font-style: normal;
  font-size: 57px;
  line-height: 67px;
}

.header_text {
  font-size: 19px;
  font-weight: 400;
  margin-top: 8px;
  line-height: 23px;
  letter-spacing: .1px;
}

.choice {
  margin-top: 60px;
}

.level {
  display: block;
  position: relative;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1.1px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline-style: none;
  margin: 0 0 24px;
  padding: 1px 0 0 48px;
}

.level:hover {
  cursor: pointer;
  opacity: .8;
}

.active::before {
  content: ' ';
  width: 18px;
  height: 18px;
  position: absolute;
  left: 3px;
  top: 20px;
  background-color: #D62B2E;
  transform: rotate(45deg);
}

.start-game {
  position: relative;
  width: 352px;
  height: 96px;
  margin: 87px 0 200px 0;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background-color: #D62B2E;
  outline-style: none;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.start-game:hover {
  cursor: pointer;
  opacity: .8;
}

.hidden {
  display: none;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back,
.bug {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-front {  
  transition: 0.6s;
  background: url(../img/card-back.png);
}

.card-back {
  background: url(../img/game-end.png);
  transform: rotateY(180deg);
}

.bug {
  background: url(../img/card-bag.png);
  transform: rotateY(180deg);
}

.grid-easy {
  display: grid;
  grid-template-columns: repeat(3, 218px);
  grid-column-gap: 24px;
  grid-template-rows: 341px;
  place-content: center;
  margin: 341px 0;
}

.grid-medium {
  display: grid;
  grid-template-columns: repeat(3, 218px);
  grid-column-gap: 24px;
  grid-template-rows: repeat(2, 341px);
  grid-row-gap: 24px;
  place-content: center;
  margin: 159px 0;
}
.grid-hard {
  display: grid;
  grid-template-columns: repeat(5, 218px);
  grid-column-gap: 24px;
  grid-template-rows: repeat(2, 341px);
  grid-row-gap: 24px;
  place-content: center;
  margin: 159px 0;
}

.card-click {
  transform: rotateY(180deg);
}

.card-front:hover {
  bottom: 22px;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  transform: rotate(-3.08deg);
}
